name: "GitHub Actions terraform build "

on:
  push:
    paths:
      - 'infrastructure/**'
    branches:
      - CI-Terraform


jobs: 
  Build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infrastructure
    steps:
      - name: Checkout the repo code
        uses: actions/checkout@v3
      
      
      - name: Setup Terrafrom 
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0
     
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1 
 
      - name: Terraform Init 
        run: terraform init
   
      - name: Terraform Plan
        run: terraform plan -var-file var.tfvars -var certificate_arn=${{ secrets.CERTIFICATE_ARN }} -var private_key=${{ secrets.PRIVATE_KEY }}
      
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -var-file var.tfvars -var certificate_arn=${{ secrets.CERTIFICATE_ARN }} -var private_key=${{ secrets.PRIVATE_KEY }} -auto-approv

      - name: Get Terraform Outputs
        id: outputs
        run: |
          echo "::set-output name=ips::$(terraform output -json instance_public_ips)"
          echo "::set-output name=dynamodb_name::$(terraform output -raw dynamodb_name)"
          echo "::set-output name=sqs_url::$(terraform output -raw sqs_url)"
          echo "::set-output name=s3_name::$(terraform output -raw s3_name)"
      
    
    outputs:
      ips: ${{ steps.outputs.outputs.ips }}
      dynamodb_table_name: ${{ steps.outputs.outputs.dynamodb_table_name }}
      sqs_queue_name: ${{ steps.outputs.outputs.sqs_queue_name }}
      s3_bucket_name: ${{ steps.outputs.outputs.s3_bucket_name }}


      


      

